body {
  background: #001f3f;
}
h1,h2,h3{
    color: #FF851B;
}

  nav > a{
  text-align: center;
  background-color: grey;
  padding-left: 10px;
  padding-right: 10px;
}

  nav{
text-align: center;
}

