
body{
  background-color: #001f3f;
}
h1,h2,h3{
    color: #FF851B;
}
h1{
  font-size: 80px;
  padding-left: 60px;
}


#subHeader{
  float: right;
  margin-right: 505px;
  margin-top: 50px;
  color: #7FDBFF;
  font-family: 'Courier New', monospace;
  font-size: 20px;

}
ul {
  list-style-type:none;
  margin: 0;
  padding: 0;

}

  ul{
  text-align: left;
  color: #FF851B;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 20px;
  padding-top: 0px;
  
}
li{
  margin: 10px 0;
  border-radius: 25px;
  padding: 24px;
  font-size:x-large;
  font-family: Helvetica, sans-serif;
  background-color: #85144b;
  width: 140px;
  box-shadow: 10px 5px 5px black;
  text-align: center;
  margin-left: 70px;
}
li a{color:white;
  text-decoration: none;
  letter-spacing: 2px;
}

li a:hover {
  color: white;
  font-size: xx-large;
  transition: 0.2s;
}

.picRight{
  float: right;
  margin-right: 450px;
}



#social{
  display: flex;
  height: 100px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-left: 150px; 
}
#social{
  display: flex;
}
#social li{
  position: relative;
  display: block;
  color: #666;
  font-size: 30px;
  height: 30px;
  width: 30px;
  background: #171515;
  line-height: 30px;
  border-radius: 50%;
  margin: 0 15px;
  cursor: pointer;
  transition: .5s;
}
#social li:before{
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;
  /* background: #d35400; */
  border-radius: 50%;
  transform: scale(.9);
  z-index: -1;
  transition: .5s;
}
#social li:nth-child(1):before{
  background: #4267B2;
}
#social li:nth-child(2):before{
  background: #1DA1F2;
}
#social li:nth-child(3):before{
  background: #E1306C;
}
#social li:nth-child(4):before{
  background: #2867B2;
}
#social li:nth-child(5):before{
  background: #ff0000;
}
#social li:hover:before{
  filter: blur(3px);
  transform: scale(1.2);
  /* box-shadow: 0 0 15px #d35400; */
}
#social li:nth-child(1):hover:before{
  box-shadow: 0 0 15px #4267B2;
}
#social li:nth-child(2):hover:before{
  box-shadow: 0 0 15px #1DA1F2;
}
#social li:nth-child(3):hover:before{
  box-shadow: 0 0 15px #E1306C;
}
#social li:nth-child(4):hover:before{
  box-shadow: 0 0 15px #2867B2;
}
#social li:nth-child(5):hover:before{
  box-shadow: 0 0 15px #ff0000;
}
#social li:nth-child(1):hover{
  color: #456cba;
  box-shadow: 0 0 15px #4267B2;
  text-shadow: 0 0 15px #4267B2;
}
#social li:nth-child(2):hover{
  color: #26a4f2;
  box-shadow: 0 0 15px #1DA1F2;
  text-shadow: 0 0 15px #1DA1F2;
}
#social li:nth-child(3):hover{
  color: #e23670;
  box-shadow: 0 0 15px #E1306C;
  text-shadow: 0 0 15px #E1306C;
}
#social li:nth-child(4):hover{
  color: #2a6cbb;
  box-shadow: 0 0 15px #2867B2;
  text-shadow: 0 0 15px #2867B2;
}
#social li:nth-child(5):hover{
  color: #ff1a1a;
  box-shadow: 0 0 15px #ff0000;
  text-shadow: 0 0 15px #ff0000;
}
/* ul li:hover{
  color: #ffa502;
  box-shadow: 0 0 15px #d35400;
  text-shadow: 0 0 15px #d35400;
} */
