
body{
  background-color: #001f3f;
}
h1,h2,h3{
    color: #FF851B;
}
h1{
  font-size: 80px;
  padding-left: 60px;
}
#subHeader{
  float: right;
  margin-right: 505px;
  margin-top: 50px;
  color: #7FDBFF;
  font-family: 'Courier New', monospace;
  font-size: 20px;

}
ul {
  list-style-type:none;
  margin: 0;
  padding: 0;

}

  ul{
  text-align: left;
  color: #FF851B;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 20px;
  padding-top: 0px;
  
}
li{
  margin: 10px 0;
  border-radius: 25px;
  padding: 24px;
  font-size:x-large;
  font-family: Helvetica, sans-serif;
  background-color: #85144b;
  width: 100px;
  box-shadow: 10px 5px 5px black;
  text-align: center;
  margin-left: 70px;
}
li a{color:white;
  text-decoration: none;
}

li a:hover {
  background-color:white;
  color: black;
}

.picRight{
  float: right;
  margin-right: 450px;
}